@page "/{username}"
@inject HttpClient client
@inject IJSRuntime js
@using MidwestMusicDB.Client.Pages.Playlist

<h3>UserHome</h3>
<a href="/song/@username">Search for Songs</a>
<a href="/user/@username">Search for Users</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Followers</th>
        <th>Following</th>
    </tr>
    <td>@followers</td>
    <td><a href="/@username/following">@following</a></td>
    </thead>
</table>
<h1> Playlists</h1>
<PlaylistTable Playlists="@_playlists" Username="@username"></PlaylistTable>
<a href="@username/metrics">Metrics</a>
@code {

    [Parameter]
    public string username { get; set; }

    int followers { get; set; }
    int following { get; set; }
    Playlist[] _playlists { get; set; }
    
    
    protected override async Task OnInitializedAsync()
    {
        var followData = await client.GetJsonAsync<int[]>($"api/user/{username}/{1}");
        followers = followData[1];
        following = followData[0];

        _playlists = await client.GetJsonAsync<Playlist[]>($"api/playlist/{username}");

        
    }
}