@page "/song/{username}"
@using System.ComponentModel

@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper
<a href="/@username">Home</a>
<h3>Song List</h3>

<SearchForm ButtonText="Search" searchModel="@_searchModel" OnValidSubmit="@Search"></SearchForm>
<SongCompleteTable username="@username" songsComplete="@songsComplete"></SongCompleteTable>
@code {
    [Parameter]
    public string username { get; set; }

    SearchModel _searchModel = new SearchModel();
    public string SearchString { get; set; }

    
    
    SongComplete[] songsComplete { get; set; }
    Song[] songs { get; set; }
    protected override async Task OnInitializedAsync()
    {
        
    }

    async Task Search()
    {
        var search_type = "song";
        Console.WriteLine($"SearchString: {_searchModel.SearchString}");
        songsComplete = await client.GetJsonAsync<SongComplete[]>($"api/search/{_searchModel.SearchString}/{search_type}/{username}");
        //songs = await client.GetJsonAsync<Song[]>($"api/search/{_searchModel.SearchString}/{search_type}");
        Console.WriteLine("Done Search");
        uriHelper.NavigateTo($"song/{username}");
    }
    
    async Task Listen(string title)
    {
        await client.PutJsonAsync($"api/song/listen/{username}/{title}", title);
        uriHelper.NavigateTo($"song/{username}");
    }

}