@page "/playlists/{username}/create/{stitle}"
@inject HttpClient client
@inject NavigationManager uriHelper

<h3>Create</h3>
<PlaylistForm ButtonText="Create" playlist="@playlist" OnValidSubmit="@CreatePlaylist"/>
@code {
    [Parameter] public string username { get; set; }
    [Parameter] public string stitle { get; set; }
    Playlist playlist = new Playlist();

    async Task CreatePlaylist()
    {
        
        playlist.creation_date = DateTime.Today;
        playlist.song_count = 0;
        playlist.total_duration = 0;
        
        await client.PostJsonAsync($"/api/playlist/{username}", playlist);
        if (stitle != null)
        {
            uriHelper.NavigateTo($"/playlists/{username}/{stitle}/add");
        }
    }
}