@page "/playlists/{username}"
@inject HttpClient client
<h3>FetchData</h3>

@if (playlists == null)
{
    <text>Loading ...</text>
}
else if (playlists.Length == 0)
{
    <button class="btn" href="/playlists/@username/create">Create new</button>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Durantion</th>
            <th>Creation Date</th>
            <th>Song Count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (Playlist p in playlists)
        {
            <tr>
                <td>@p.title</td>
                <td>@p.total_duration</td>
                <td>@p.creation_date</td>
                <td>@p.song_count</td>
                <a class="btn btn-info" href="/playlists/@username/@p.id/">View</a>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    [Parameter] public string username { get; set; }
    Playlist[] playlists { get; set; }
    protected override async Task OnInitializedAsync()
    {
        playlists = await client.GetJsonAsync<Playlist[]>($"api/playlist/{username}");
    }
    
}