@page "/Album/{username}"
@using System.ComponentModel


@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper

<h3>Songs on Album List</h3>

<SearchForm ButtonText="Search" searchModel="@_searchModel" OnValidSubmit="@Search"></SearchForm>
<div>
   
</div>

@code {
    [Parameter]
    public string username { get; set; }

    SearchModel _searchModel = new SearchModel();
    public string SearchString { get; set; }

    
    
    
    SongComplete[] songs { get; set; }
    protected override async Task OnInitializedAsync()
    {
    //songs = await client.GetJsonAsync<Song[]>("api/search");
    }

    async Task Search()
    {
        var search_type = "album";
        Console.WriteLine($"SearchString: {_searchModel.SearchString}");
        songs = await client.GetJsonAsync<SongComplete[]>($"api/search/{_searchModel.SearchString}/{search_type}");
        Console.WriteLine("Done Search");
        uriHelper.NavigateTo($"AlbumJust/{username}");
    }
    
    async Task Listen(string title)
    {
        await client.PutJsonAsync($"api/song/listen/{username}/{title}", title);
    }

}